@font-face {
  font-family: "iconfont"; /* Project id 4004876 */
  src: url('iconfont.woff2?t=1693382452432') format('woff2'),
       url('iconfont.woff?t=1693382452432') format('woff'),
       url('iconfont.ttf?t=1693382452432') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjianjia:before {
  content: "\e609";
}

.icon-add:before {
  content: "\e6df";
}

.icon-trash:before {
  content: "\e738";
}

.icon-wenjianjia1:before {
  content: "\e600";
}

.icon-xinzeng:before {
  content: "\e60a";
}

.icon-fabu:before {
  content: "\e653";
}

.icon-shanchu:before {
  content: "\e655";
}

.icon-xiugai:before {
  content: "\e656";
}

.icon-yujing:before {
  content: "\e657";
}

.icon-loading:before {
  content: "\e83d";
}

.icon-03sousuo:before {
  content: "\e633";
}

.icon-9:before {
  content: "\e618";
}

.icon-tubiao1:before {
  content: "\e632";
}

.icon-tubiaoku:before {
  content: "\e690";
}

.icon-tubiao:before {
  content: "\e6a5";
}

.icon-tubiao_:before {
  content: "\e629";
}

.icon-tubiao2:before {
  content: "\e61b";
}

.icon-tubiao5:before {
  content: "\e61c";
}

.icon-c-lock2:before {
  content: "\e626";
}

.icon-RectangleCopy:before {
  content: "\e6a1";
}

.icon-RectangleCopy1:before {
  content: "\e6a2";
}

.icon-RectangleCopy2:before {
  content: "\e6a3";
}

.icon-RectangleCopy3:before {
  content: "\e6a7";
}

.icon-wendang:before {
  content: "\e99c";
}

.icon-user:before {
  content: "\e99e";
}

.icon-icon-broadcast:before {
  content: "\e604";
}

.icon-a-icon-deleteField:before {
  content: "\e605";
}

.icon-icon-date:before {
  content: "\e606";
}

.icon-icon-download:before {
  content: "\e607";
}

.icon-icon-show:before {
  content: "\e608";
}

